form {
    margin-top: 40px;
    flex-grow: 2;
}

.formWrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid #d7c9c9;
    border-radius: 25px;
    box-shadow: 5px 10px 18px #888888;
}

button {
    max-width: 75%;
    margin: 5% 25%;

}

input {
    background-color: #c3bef0;
    border: 0px;
    margin: 0 15%;
}

select {
    max-width: 50%;
    margin: 0 15%;
}

label {
    color: #defcf9;
    margin: 0 15%;
}