.boxDisplay1 {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
}

.boxInfoCard1 {
  display: flex;
 
 
}

.boxDisplay2 {
  border-top: 1px solid grey;
  display: flex;
  max-height: 40%;
  flex-grow: 1;
  background-color: #ececec;
  border-radius: 0 0 10px 10px;
  
}

.boxInfoCard {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  align-items: center;
  align-content: center;
padding: 3px;

}


