body {
  background-color: #f5f7fb;
}

.btn {
  background-color: buttonface;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  display: inline-block;
  text-align: center;
  text-transform: none;
  box-sizing: border-box;
  color: buttontext;
  margin: 5% 25%;
  font-weight: 400;
  font-size: medium;
  border-radius: 2px;
  font-size: 12px;

}

button {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: medium;
  border-radius: 2px;
  font-size: 12px;
}

.btn:hover {
  background-color: #8dc6ff;
  border-color: #8dc6ff;
  border-radius: 5px;
}

button:hover {
  background-color: #8dc6ff;
  border-color: #8dc6ff;
  border-radius: 5px;
}